<launch>

    <!-- Robot namespace -->
    <arg name="robot_name" default="my_gen3"/>
    <arg name="start_delay_seconds" default="0"/>
    <arg name="traj_filename" default="test_traj.bag"/>
    <arg name="ee" default="False"/>
    <arg name="bagfile" default="True"/>
    <arg name="traj_file_loc" default="/home/tesca/software/perceptual_uncertainty/data/$(arg traj_filename)"/>

    <!-- Launch the example in that namespace -->
    <node name="exec_cart_traj" pkg="manip_utils" type="replay_bag.py" ns="$(arg robot_name)" output="screen" launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@' ">
        <param name="traj_file" value="$(arg traj_file_loc)"/>
        <param name="ee" value="$(arg ee)"/>
        <param name="bagfile" value="$(arg bagfile)"/>
    </node>

</launch>
